@model BlogPeliculas.Modelos.Comentario

@{
    ViewData["Title"] = "Agregar - comentario";
}

<h1>Agregar - comentario</h1>

<h4>Comentario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Contenido" class="control-label"></label>
                <input asp-for="Contenido" class="form-control" />
                <span asp-validation-for="Contenido" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Recomendar" /> @Html.DisplayNameFor(model => model.Recomendar)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PeliculaId" class="control-label"></label>

                <br />

                <select asp-for="PeliculaId" asp-items="@ViewBag.peliculas">
                    <option selected="selected" value="">-- Elija la pelicula --</option>
                </select>

                <span asp-validation-for="PeliculaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
