@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al blog de películas</h1>

    <h2>Estadísticas actuales</h2>

    <div class="row">
        <div class="col-md-4">
            <h4>Películas</h4>
            <p>@ViewBag.TotalPeliculas</p>  
        </div>
        <div class="col-md-4">
            <h4>Comentarios</h4>
            <p>@ViewBag.TotalComentarios</p>
        </div>
        <div class="col-md-4">
            <h4>Personajes</h4>
            <p>@ViewBag.TotalPersonajes</p>
        </div>

    </div>
